body{
   background-image: url("Beautiful_Desktop_Background_Design_Photo.jpg");
   background-size: 1500px;
   background-position: center;
   text-align: center;
  
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div{
    text-align: center;
}

#submit_button{
    width: 30%;
    margin-top: 100px;
}

label{
    color: rgb(255, 0, 0);
    font-family: monospace;
}